<%= form_with model: @quiz, local: true do |f|%>
  <div class="field">
    <%= f.label :title, "quiz" %><br />
    <%= f.text_field :title, id:"quiz" %>
  </div>

  <div class="field">
    <%= f.label :answer, "answer" %><br />
    <%= f.text_area :answer, class: :form__text, id:"answer" %>
  </div>

  <div class="field">
    <%= f.label :image, "quizの画像" %><br />
    <%= f.file_field :image, id:"quiz_image" %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>