<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @quiz.title %>
      </p>
      <%# <%= link_to "by #{@quiz.user.name}", user_path(@quiz.user.id), class: :prototype__user %>
      <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>
      <% if user_signed_in? && current_user.id == @quiz.user_id %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_quiz_path(@quiz.id), method: :get, class: :prototype__btn %>
          <%= link_to "削除する", quiz_path(@quiz.id), method: :delete, class: :prototype__btn %>
        </div>
      <% end %>
      <%# // プロトタイプの投稿者とログインしているユーザーが同じであれば上記を表示する %>
      <div class="prototype__image">
        <%= image_tag(@quiz.image) %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">解答</p>
          <p class="detail__message">
            <%= @quiz.answer %>
          </p>
        </div>
      </div>

    </div>
  </div>
</main>
